<form *ngIf="login.username!=undefined">
    <h1>Atualizar Estágio</h1>

    <form novalidate #formulario="ngForm">
        <mat-form-field class="form">
            <mat-label>Nome</mat-label>
            <input 
            [(ngModel)]="estagio.nome" 
            name="estagio.nome" 
            matInput 
            placeholder="Nome"
            #inputNome="ngModel">
          </mat-form-field>
    
          <mat-form-field class="form">
            <mat-label>Descricao</mat-label>
            <input 
            [(ngModel)]="estagio.descricao" 
            name="todo.descricao" 
            matInput 
            placeholder="Descrição"
            #inputDescricao="ngModel">
          </mat-form-field>

          <mat-form-field class="selecionar" appearance="fill">
            <mat-label>Grupo</mat-label>
            <mat-select  
                [(ngModel)]="estagio.grupo" 
                name="estagio.grupo"
                #inputGrupo="ngModel"
            >

            <mat-option 
              *ngFor="let grupo of listaGrupos" 
              [value]="grupo"
              >{{grupo.nome}}
            </mat-option>
            </mat-select>   
            
          </mat-form-field>
        <br/>
          <mat-form-field class="data-inicio" appearance="fill">
            <mat-label>DATA DE INICIO</mat-label>
            <input
            [(ngModel)]="estagio.inicio" 
            name="estagio.inicio" 
            matInput 
            [matDatepicker]="dp3" 
            required
            #inputInicio = "ngModel">
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          </mat-form-field>
  
          <mat-form-field class="data-fim" appearance="fill">
            <mat-label>DATA PARA FINALIZAR</mat-label>
            <input
            [(ngModel)]="estagio.fim" 
            name="estagio.fim" 
            matInput 
            [matDatepicker]="dp4" 
            required
            #inputFim = "ngModel">
            <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
            <mat-datepicker #dp4 disabled="false"></mat-datepicker>
        </mat-form-field>
        </form>

      <div class="buttons">
        <button (click)="update()" mat-stroked-button color="primary">Atualizar</button>
        <button (click)="cancel()"  mat-stroked-button color="warn">Cancelar</button>
      </div>

</form>

<div *ngIf="login.username===undefined" class="notLogged">
  <mat-toolbar>
    <span>
      <h5>
      Para acessar, faça o login
      </h5>
    </span>
</mat-toolbar>
</div>

