<form *ngIf="login.username!=undefined">
    <h1>Atualizar Aluno</h1>

      <form novalidate #formulario="ngForm">
        <mat-form-field class="form">
            <mat-label>Nome</mat-label>
            <input 
            [(ngModel)]="aluno.nome" 
            name="aluno.nome" 
            matInput 
            placeholder="Nome" 
            required
            minlength="1"
            #inputNome="ngModel"
            >

            <small *ngIf="inputNome.valid && inputNome.touched" style="color: green;text-align: start;">Ok</small>
           <mat-error *ngIf="!inputNome.valid && inputNome.touched" class="form-text text-danger">Insira o nome</mat-error>
          </mat-form-field>

          <mat-form-field class="form">
            <mat-label>Matricula</mat-label>
            <input 
            [(ngModel)]="aluno.matricula" 
            name="aluno.matricula" 
            matInput 
            placeholder="Matricula"
            required
            minlength="1"
            #inputMatricula="ngModel"
            >
          
            <small *ngIf="inputMatricula.valid && inputMatricula.touched" style="color: green;text-align: start;">Ok</small>
            <mat-error *ngIf="!inputMatricula.valid && inputMatricula.touched" class="form-text text-danger">Insira a matrícula</mat-error>
          </mat-form-field>
    
          <mat-form-field class="form">
            <mat-label>Curso</mat-label>
            <input 
            [(ngModel)]="aluno.curso" 
            name="aluno.curso" matInput 
            placeholder="Curso"
            required
            #inputCurso="ngModel"
            >

            <small *ngIf="inputCurso.valid && inputCurso.touched" style="color: green;text-align: start;">Ok</small>
           <mat-error *ngIf="!inputCurso.valid && inputCurso.touched" class="form-text text-danger">Insira o curso</mat-error>
          </mat-form-field>
      </form>

      <div class="buttons">
        <button (click)="update()"  mat-stroked-button color="primary">Atualizar</button>
        <button  (click)="cancel()" mat-stroked-button color="warn">Cancelar</button>
      </div>

</form>

<div *ngIf="login.username===undefined" class="notLogged">
  <mat-toolbar>
    <span>
      <h5>
      Para acessar, faça o login
      </h5>
    </span>
</mat-toolbar>
</div>