form {
    width: 60%;
    margin: 2rem auto 0 auto;
    text-align: center;
}

.data-finalizar {
    text-align: start;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: rgb(97, 93, 93)
}

.form {
    width: 100%;
}

.buttons {
    width: 100%;
    text-align: center;
}

button {
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.notLogged mat-toolbar{
    height: 150px;
    background-color: #462976;
    color: white;
    justify-content: center;
}

.notLogged span{
    display: flex;
    align-items: center;
}